.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.links {
	font-family: "Arial";
	color: whitesmoke;
	text-shadow: 0 0 0.25em #1da9cc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MainNav {
  background-color: white;
  min-height: 10vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  border-bottom: 10px outset black;
}

.App-link {
  color: #61dafb;
}

.headerImage {
	text-shadow: 0 0 0.20em #1da9cc;
	background-image: url('./assets/codetextile.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	padding-Bottom: 50px;
	padding-Top: 50px;
	width: 100%;
	margin-top: 0px;
}

.leftColumn {
	flex: 50%;
	padding-top: 150px;
}

.midColumn {
	flex: 50%;
	padding-top: 100px;
}

.rightColumn {
	flex: 25%;
	border-left: 2px solid rgba(255, 255, 255, 0.5);
	margin-right: 5px;
	margin-top: 15px;
	background-color: 282c34;
}

.outerColBox {
	width: 100%;
	display: flex;
}

.colBox {
	flex: 50%;
}

.aboutColumn {
	margin: center;
	width: 33%;
}

.row {
	width: 100%;
	display: flex;
}

.Background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.goalText {
	text-align: left;
	margin-left: 10%;
	font-size: 20px;
}

.goalYear {
	text-align: left;
	margin-left: 10%;
	font-size: 25px;
}

.goalDiv {
	width: 100%;
}

.footerText {
	color: black;
	margin: 0px;
	background-color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	padding: 10px;
	/*border: 3px inset grey;*/
}

nav ul li a{
	color: black;
	text-decoration: none;
}

nav ul li a:hover{
	text-shadow: 0 0 0.15em #1da9cc;
}