.logos {
	margin-top: 20px;
}

.githubLogo {
	height: 12vmin;
	margin-right: 60px;
	cursor: pointer;
}

.linkedInLogo {
	height: 12vmin;
	cursor: pointer;
}

.artPics {
	height: 25vmin;
	width: 25vmin;
	margin-right: 60px;
}

.artStyles {
	width: 75%
}

.myphoto {
	height: 30vmin;
	pointer-events: none;
	box-shadow: 3px 3px 3px 3px black;
}